<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="tkmnzm.app.multimoduleplayground.feature">

    <application>
        <activity android:name="tkmnzm.app.multimoduleplayground.feature.a.FeatureAActivity">
        </activity>
    </application>

</manifest>